/* 3. Header Styles */
/*------------------*/

//----------------//
//     mixins     //
//----------------//

// small header styles
@mixin header_small_mixin() {
  $nav_height: 50px;

  @include theme() {
    background-color: themed("bg_color_one");
    box-shadow: themed("card_shadow");
  }

  .top-bar {
    @include theme() {
      color: themed("t_color_one");
    }

    &.hidden-top-bar {
      height: 0;
      opacity: 0;
      overflow: hidden;
    }
  }

  nav {
    height: $nav_height;

    &:before {
      width: 100vw;
    }

    > div {
      height: $nav_height;

      &:last-of-type {
        @include appDir(right, 0, left, 0);
      }
    }

    .logo {
      height: $nav_height;
      width: $nav_height;

      a {
        height: $nav_height;
        width: $nav_height;

        .logo-img {
          height: $nav_height;
          width: $nav_height;
          transform: rotate(0);

          &:before,
          &:after {
            @include theme() {
              border-color: themed("main_color_one");
            }
          }

          &:before,
          &:after,
          img {
            height: 100%;
            width: 100%;
          }

          img {
            transform: rotate(-45deg);
          }
        }
      }

      .shape {
        display: none;
      }
    }

    .user-area {
      .user-area-holder {
        height: $nav_height;
        width: $nav_height;

        .shape {
          top: calc(100% - 30px);
          opacity: 0;

          &:after {
            opacity: 0;
          }
        }

        .user-menu {
          &:after {
            content: "";
            display: block;
            position: absolute;
            z-index: -1;
            top: -7px;
            @include appDir(
              right,
              (($nav_height / 2) + 20px),
              left,
              (($nav_height / 2) + 20px)
            );
            height: 8px;
            width: 14px;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

            @include theme() {
              background-color: themed("bg_color_one");
            }
          }
        }
      }
    }
  }
}

/*----------------*/
/*   animations   */
/*----------------*/
@keyframes navLinksBeforeLTR {
  from {
    transform: translate(-8px, -4px);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes navLinksBeforeRTL {
  from {
    transform: translate(8px, -4px);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes navLinksAfterLTR {
  from {
    transform: translate(8px, 4px);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes navLinksAfterRTL {
  from {
    transform: translate(-8px, 4px);
  }

  to {
    transform: translate(0, 0);
  }
}

header {
  $nav_height: 70px;
  $minimizing_dur: 0.6s;

  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color $minimizing_dur ease-in-out,
    box-shadow $minimizing_dur ease-in-out;

  .top-bar {
    @include flexbox(flex, "", center, end, "", "");
    height: 50px;
    width: 100%;
    color: $light_code;
    font-size: 12px;
    transition: height $minimizing_dur ease-in-out,
      padding $minimizing_dur ease-in-out, opacity $minimizing_dur ease-in-out;

    @media #{$max_991} {
      display: none;
    }

    ul {
      @include flexbox(flex, "", center, "", "", "");

      &:not(:last-child) {
        @include appDir(padding-right, 15px, padding-left, 15px);

        &:after {
          content: "|";
          @include appDir(margin-left, 15px, margin-right, 15px);
        }
      }

      li {
        @include flexbox(inline-flex, "", center, "", "", "");

        a {
          &:hover {
            color: inherit;
            text-decoration: underline;
          }

          &:focus {
            @include focusStyle();
          }
        }
      }

      &.info {
        li {
          &:not(:last-of-type) {
            @include appDir(margin-right, 25px, margin-left, 25px);
          }

          .fa {
            font-size: 14px;
            @include appDir(margin-right, 10px, margin-left, 10px);
          }

          &.phone {
            .fa {
              @include appDir(transform, null, transform, rotateY(180deg));
            }
          }
        }
      }

      &.langs-and-themes {
        li {
          &:not(:last-of-type) {
            @include appDir(margin-right, 15px, margin-left, 15px);
          }

          &.theme-switcher {
            input {
              height: 0;
              width: 0;
              opacity: 0;

              &:checked {
                + label {
                  .black-img {
                    display: none;
                  }
                }
              }

              &:not(:checked) {
                + label {
                  .white-img {
                    display: none;
                  }
                }
              }

              &:focus {
                + label {
                  @include focusStyle();
                }
              }
            }

            label {
              display: block;
              width: 21px;
              text-align: center;
              margin: 0;
              cursor: pointer;

              img {
                display: block;
                width: 18px;
                margin: auto;
                animation: fadeIn 0.3s ease-in-out;
                @include appDir(transform, null, transform, rotateY(180deg));
              }
            }
          }
        }
      }
    }
  }

  nav {
    position: relative;
    @include flexbox(flex, "", center, between, "", "");
    width: 100%;
    transition: height $minimizing_dur ease-in-out,
      background-color $minimizing_dur ease-in-out,
      padding $minimizing_dur ease-in-out,
      box-shadow $minimizing_dur ease-in-out;

    @include theme() {
      color: themed("t_color_one");
    }

    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      @include appDir(left, 50%, right, 50%);
      @include ltr_translateX(-50%);
      height: 2px;
      width: 0;
      transition: width $minimizing_dur ease-in-out,
        background-color $minimizing_dur ease-in-out;

      @include theme() {
        background-color: themed("main_color_one");
      }
    }

    > div {
      @include flexbox(flex, "", center, "", "", "");

      &:last-of-type {
        @media #{$min_992} {
          position: absolute;
          width: 345px;
          @include transition(0.4s);
        }
      }

      > * {
        &:not(:only-child):not(:first-child):not(.user-area) {
          @include appDir(margin-left, 30px, margin-right, 30px);
        }
      }
    }

    // logo
    .logo {
      position: relative;
      z-index: 1;
      @include flexbox(flex, "", center, center, "", "");
      transition: height $minimizing_dur ease-in-out,
        width $minimizing_dur ease-in-out;

      a {
        display: block;
        transition: height $minimizing_dur ease-in-out,
          width $minimizing_dur ease-in-out;

        .logo-img {
          position: relative;
          transition: height $minimizing_dur ease-in-out,
            width $minimizing_dur ease-in-out,
            transform $minimizing_dur ease-in-out;

          &:before,
          &:after {
            content: "";
            display: block;
            position: absolute;
            transition: height $minimizing_dur ease-in-out,
              width $minimizing_dur ease-in-out,
              border-color $minimizing_dur ease-in-out;
          }

          &:before {
            z-index: 0;
            bottom: 0;
            left: 0;
            border: 2px solid;
          }

          &:after {
            z-index: 1;
            top: 0;
            right: 0;
            border: 1px solid;

            @include theme() {
              background-color: themed("main_color_one");
            }
          }

          img {
            display: block;
            position: absolute;
            z-index: 2;
            top: 0;
            right: 0;
            height: 86px;
            width: 86px;
            transition: height $minimizing_dur ease-in-out,
              width $minimizing_dur ease-in-out,
              transform $minimizing_dur ease-in-out;
          }
        }
      }
    }

    // navbar menu links
    .nav-links {
      @media #{$min_992} {
        @include flexbox(flex, "", center, "", "", wrap);
      }

      @media #{$max_991} {
        display: none;
      }

      > li {
        position: relative;

        &:not(:first-of-type) {
          @include appDir(margin-left, 12px, margin-right, 12px);
        }

        > a {
          position: relative;
          display: block;
          @include appDir(font-family, $en_font_one, font-family, $ar_font_one);
          @include appDir(font-weight, 600, font-weight, bold);
          white-space: nowrap;
          @include appDir(text-transform, uppercase, text-transform, null);
          @include appDir(padding, 2px 8px, padding, 4px 8px);

          &:before,
          &:after {
            content: "";
            position: absolute;
            height: 10px;
            width: 10px;
            border-width: 1px;
            border-style: solid;
            display: none;
          }

          &:before {
            top: 0;
            @include appDir(left, 0, right, 0);
            @include appDir(
              border-color,
              $secondary transparent transparent $secondary,
              border-color,
              $secondary $secondary transparent transparent
            );
            @include appDir(
              animation,
              navLinksBeforeLTR 0.3s ease-in-out,
              animation,
              navLinksBeforeRTL 0.3s ease-in-out
            );
          }

          &:after {
            bottom: 0;
            @include appDir(right, 0, left, 0);
            @include appDir(
              border-color,
              transparent $secondary $secondary transparent,
              border-color,
              transparent transparent $secondary $secondary
            );
            @include appDir(
              animation,
              navLinksAfterLTR 0.3s ease-in-out,
              animation,
              navLinksAfterRTL 0.3s ease-in-out
            );
          }

          &:hover {
            color: $secondary;

            &:before,
            &:after {
              display: block;
            }

            & + .nav-dropdown-container {
              display: block;
            }
          }

          &:focus {
            @include focusStyle();

            & + .nav-dropdown-container {
              display: block;
            }
          }
        }

        .nav-dropdown-container {
          position: absolute;
          top: calc(100% + 40px);
          @include appDir(left, -20px, right, -20px);
          animation: fadeInUp 0.4s ease-in-out both;
          display: none;

          &:before,
          &:after {
            content: "";
            display: block;
            position: absolute;
            z-index: -1;
          }

          &:before {
            top: -40px;
            @include appDir(left, 50%, right, 50%);
            @include ltr_translateX(-50%);
            height: 42px;
            width: 100%;
          }

          &:after {
            top: -7px;
            @include appDir(left, 40px, right, 40px);
            height: 8px;
            width: 14px;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

            @include theme() {
              background-color: themed("bg_color_one");
            }
          }

          .nav-dropdown-menu {
            min-width: 200px;
            text-align: start;
            @include appDir(
              font-family,
              $en_font_two,
              font-family,
              $ar_font_two
            );
            font-weight: 400;
            padding: 15px 0 30px;

            @include theme() {
              background-color: themed("bg_color_one");
              box-shadow: themed("card_shadow");
            }

            &:before,
            &:after {
              content: "";
              position: absolute;
              height: 10px;
              width: 10px;
              border-style: solid;

              @include theme() {
                border-color: themed("main_color_two");
              }
            }

            &:before {
              top: 4px;
              @include appDir(right, 4px, left, 4px);
              @include appDir(
                border-width,
                1px 1px 0 0,
                border-width,
                1px 0 0 1px
              );
            }

            &:after {
              bottom: 4px;
              @include appDir(left, 4px, right, 4px);
              @include appDir(
                border-width,
                0 0 1px 1px,
                border-width,
                0 1px 1px 0
              );
            }

            li {
              a {
                $side_padding_size: 20px;

                flex-grow: 1;
                position: relative;
                display: block;
                white-space: nowrap;
                padding: 8px $side_padding_size;

                @include theme() {
                  color: themed("t_color_one");
                }

                &:after {
                  content: "";
                  position: absolute;
                  @include appDir(
                    left,
                    $side_padding_size,
                    right,
                    $side_padding_size
                  );
                  bottom: 1px;
                  height: 1px;
                  width: $side_padding_size;
                  @include transition(0.3s);

                  @include theme() {
                    background-color: themed("border_color");
                  }
                }

                &:hover {
                  @include theme() {
                    color: themed("main_color_two");
                  }

                  &:after {
                    @include theme() {
                      background-color: themed("main_color_two");
                    }
                  }
                }

                &:focus {
                  @include focusStyle();
                }
              }

              &.has-children {
                position: relative;

                > a {
                  &:before {
                    @include appDir(content, "\f105", content, "\f104");
                    font-family: FontAwesome;
                    position: absolute;
                    top: 50%;
                    @include translateY(-50%);
                    @include appDir(right, 16px, left, 16px);
                  }

                  &:focus,
                  &:hover {
                    & + .nav-dropdown-sub-container {
                      display: block;
                    }
                  }
                }

                .nav-dropdown-sub-container {
                  position: absolute;
                  top: 0;
                  @include appDir(left, 100%, right, 100%);
                  animation: fadeInUp 0.4s ease-in-out both;
                  display: none;

                  &:before,
                  &:after {
                    content: "";
                    position: absolute;
                    height: 10px;
                    width: 10px;
                    border-style: solid;

                    @include theme() {
                      border-color: themed("main_color_two");
                    }
                  }

                  &:before {
                    top: 4px;
                    @include appDir(right, 4px, left, 4px);
                    @include appDir(
                      border-width,
                      1px 1px 0 0,
                      border-width,
                      1px 0 0 1px
                    );
                  }

                  &:after {
                    bottom: 4px;
                    @include appDir(left, 4px, right, 4px);
                    @include appDir(
                      border-width,
                      0 0 1px 1px,
                      border-width,
                      0 1px 1px 0
                    );
                  }

                  .nav-dropdown-sub-menu {
                    min-width: 200px;
                    text-align: start;
                    padding: 15px 0 30px;

                    @include theme() {
                      background-color: themed("bg_color_one");
                      box-shadow: themed("card_shadow");
                    }
                  }

                  &:hover {
                    display: block;
                  }
                }

                &:focus-within {
                  .nav-dropdown-sub-container {
                    display: block;
                  }
                }
              }
            }
          }

          &:hover {
            display: block;
          }
        }

        &:focus-within {
          .nav-dropdown-container {
            display: block;
          }
        }
      }
    }

    // theme switcher in mobile
    .mobile-theme-switcher {
      input {
        display: none;

        &:checked {
          + label {
            .black-img {
              display: none;
            }
          }
        }

        &:not(:checked) {
          + label {
            .white-img {
              display: none;
            }
          }
        }
      }

      label {
        display: block;
        width: 21px;
        text-align: center;
        margin: 0;
        cursor: pointer;

        img {
          display: block;
          width: 18px;
          animation: fadeIn 0.3s ease-in-out;
          @include appDir(transform, null, transform, rotateY(180deg));

          &.black-img {
            filter: invert(1);
          }
        }
      }

      @media #{$min_992} {
        display: none;
      }
    }

    // side menu button
    .side-menu-btn {
      @include appDir(margin-left, 20px, margin-right, 20px);
      @include appDir(margin-right, -10px, margin-left, -10px);

      @media #{$max_991} {
        font-size: 20px;
      }

      .fa {
        padding: 10px;
      }

      &:focus {
        @include focusStyle();
      }
    }

    // search form
    .search-form {
      flex-grow: 1;
      margin: 0;

      @media #{$min_992} {
        @include flexbox(flex, "", stretch, "", "", "");
      }

      @media #{$max_991} {
        display: none;
      }

      button {
        padding: {
          left: 10px;
          right: 10px;
        }
        @include appDir(margin-left, -10px, margin-right, -10px);

        &:focus {
          @include focusStyle();
        }
      }

      input {
        width: 150px;
        flex-grow: 1;
        background: none;
        @include appDir(font-weight, 600, font-weight, bold);
        padding: {
          top: 5px;
          bottom: 5px;
        }
        @include appDir(padding-left, 10px, padding-right, 10px);
        @include appDir(padding-right, 0, padding-left, 0);
        outline: none;
        border: none;
        @include appDir(border-left, 1px solid, border-right, 1px solid);
        @include transition(0.3s);

        @include theme() {
          color: themed("t_color_two");
        }

        @include theme("ltr") {
          border-left-color: themed("border_color");
        }

        @include theme("rtl") {
          border-right-color: themed("border_color");
        }

        &:focus {
          @include focusStyle();
        }
      }
    }

    // user account menu button
    .user-area {
      position: relative;
      @include appDir(margin-left, auto, margin-right, auto);

      @include theme() {
        background-color: themed("main_color_one");
      }

      @media #{$max_991} {
        display: none;
      }

      .user-area-holder {
        @include flexbox(flex, "", center, center, "", "");
        height: $nav_height;
        width: $nav_height;
        transition: height $minimizing_dur ease-in-out,
          width $minimizing_dur ease-in-out;

        .shape {
          position: absolute;
          top: 100%;
          height: 12px;
          width: 24px;
          background-color: $primary;
          clip-path: polygon(50% 100%, 0 0, 100% 0);
          transition: top $minimizing_dur ease-in-out,
            opacity $minimizing_dur ease-in-out;

          &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            @include appDir(left, 50%, right, 50%);
            @include ltr_translateX(-50%);
            height: 4px;
            width: 8px;
            background-color: $dark;
            clip-path: polygon(50% 100%, 0 0, 100% 0);
          }
        }

        .user-dropdown-container {
          position: absolute;
          top: calc(100% + 25px);
          @include appDir(right, -30px, left, -30px);
          animation: fadeInUp 0.4s ease-in-out both;
          display: none;

          &:before,
          &:after {
            content: "";
            position: absolute;
            height: 10px;
            width: 10px;
            border-style: solid;

            @include theme() {
              border-color: themed("main_color_two");
            }
          }

          &:before {
            top: 4px;
            @include appDir(right, 4px, left, 4px);
            @include appDir(
              border-width,
              1px 1px 0 0,
              border-width,
              1px 0 0 1px
            );
          }

          &:after {
            bottom: 4px;
            @include appDir(left, 4px, right, 4px);
            @include appDir(
              border-width,
              0 0 1px 1px,
              border-width,
              0 1px 1px 0
            );
          }

          .user-menu {
            min-width: 200px;
            text-align: start;
            padding: 15px 0 30px;

            @include theme() {
              background-color: themed("bg_color_one");
              box-shadow: themed("card_shadow");
            }

            &:before {
              content: "";
              display: block;
              position: absolute;
              z-index: -1;
              @include appDir(left, 50%, right, 50%);
              @include ltr_translateX(-50%);
              top: -25px;
              height: 25px;
              width: 100%;
            }

            li {
              a {
                $side_padding_size: 20px;

                flex-grow: 1;
                position: relative;
                display: block;
                font-weight: 400;
                white-space: nowrap;
                padding: 8px $side_padding_size;

                @include theme() {
                  color: themed("t_color_one");
                }

                &:after {
                  content: "";
                  position: absolute;
                  @include appDir(
                    left,
                    $side_padding_size,
                    right,
                    $side_padding_size
                  );
                  bottom: 1px;
                  height: 1px;
                  width: $side_padding_size;
                  @include transition(0.3s);

                  @include theme() {
                    background-color: themed("border_color");
                  }
                }

                &:hover {
                  @include theme() {
                    color: themed("main_color_two");
                  }

                  &:after {
                    @include theme() {
                      background-color: themed("main_color_two");
                    }
                  }
                }

                &:focus {
                  @include focusStyle();
                }
              }
            }
          }
        }

        &:hover {
          .user-dropdown-container {
            display: block;
          }
        }

        &:focus {
          @include focusStyle();
        }
      }

      &:focus-within {
        .user-dropdown-container {
          display: block;
        }
      }
    }

    &.animate-search-form {
      > div {
        &:last-of-type {
          @include theme() {
            background-color: themed("bg_color_one");
          }
        }
      }

      .search-form {
        height: 100%;
      }
    }
  }

  .side-menu {
    $padding_top_bottom: 30px;
    $side_left_right: 20px;

    position: fixed;
    z-index: 3000;
    top: 0;
    @include appDir(left, -250px, right, -250px);
    bottom: 0;
    min-height: 100vh;
    width: $side_menu_width;
    padding: $padding_top_bottom 0;
    overflow-y: auto;
    @include transition(0.4s);

    @include theme() {
      background-color: themed("bg_color_one");
      color: themed("t_color_one");
      box-shadow: themed("card_shadow");
    }

    @media #{$min_992} {
      &:before,
      &:after {
        content: "";
        position: absolute;
        height: 10px;
        width: 10px;
        border-style: solid;

        @include theme() {
          border-color: themed("main_color_two");
        }
      }

      &:before {
        top: 4px;
        @include appDir(right, 4px, left, 4px);
        @include appDir(border-width, 1px 1px 0 0, border-width, 1px 0 0 1px);
      }

      &:after {
        bottom: 4px;
        @include appDir(left, 4px, right, 4px);
        @include appDir(border-width, 0 0 1px 1px, border-width, 0 1px 1px 0);
      }
    }

    > * {
      visibility: hidden;

      &:not(:only-child):not(:last-child) {
        margin-bottom: $padding_top_bottom;
      }
    }

    .search-form {
      $height: 40px;

      @media #{$min_992} {
        display: none;
      }

      @media #{$max_991} {
        @include flexbox(flex, "", stretch, "", "", "");
        height: $height;
      }

      button,
      input {
        display: block;
        line-height: $height;
      }

      button {
        width: $height;
        text-align: center;

        @include theme() {
          background-color: themed("main_color_one");
        }

        &:hover {
          @include theme() {
            background-color: themed("bg_color_reverse");
            color: themed("bg_color_one");
          }
        }
      }

      input {
        width: calc(100% - #{$height});
        @include appDir(font-weight, 600, font-weight, bold);
        padding: 0 14px;
        border: none;
        outline: none;
        @include transition(0.3s);

        @include theme() {
          background-color: themed("bg_color_two");
          color: themed("t_color_two");
        }
      }
    }

    .menu-body {
      li {
        position: relative;

        a {
          position: relative;
          @include flexbox(flex, "", center, "", "", "");
          height: 38px;
          padding: 0 $side_left_right;
          margin: 0 3px;
          font-weight: 600;

          &:after {
            content: "";
            position: absolute;
            @include appDir(left, $side_left_right, right, $side_left_right);
            bottom: 1px;
            height: 1px;
            width: $side_left_right;
            @include transition(0.3s);

            @include theme() {
              background-color: themed("border_color");
            }
          }

          &.active,
          &:hover {
            @include theme() {
              color: themed("main_color_two");
            }

            &:after {
              @include theme() {
                background-color: themed("main_color_two");
              }
            }
          }

          &:focus {
            @include focusStyle();
          }
        }

        &.has-children {
          .fa {
            @include flexbox(flex, "", center, center, "", "");
            position: absolute;
            top: 9px;
            @include appDir(right, 14px, left, 14px);
            height: 20px;
            width: 20px;
            border-radius: 5px;
            @include appDir(transform, null, transform, rotateY(180deg));
            @include transition(0.3s);
            cursor: pointer;

            @include theme() {
              background-color: themed("bg_color_one");
              color: themed("t_color_one");
            }

            &.open {
              @include appDir(
                transform,
                rotate(90deg),
                transform,
                rotateY(180deg) rotate(90deg)
              );
            }
          }

          .sub-menu {
            @include appDir(padding-left, 12px, padding-right, 12px);
            display: none;
          }

          .fa:hover,
          a:hover + .fa {
            @include theme() {
              box-shadow: themed("card_shadow");
            }
          }

          &:focus-within {
            .fa {
              @include appDir(
                transform,
                rotate(90deg),
                transform,
                rotateY(180deg) rotate(90deg)
              );
            }

            .sub-menu {
              display: block !important;
            }
          }
        }

        &.user-account {
          @media #{$min_992} {
            display: none;
          }
        }
      }
    }

    .langs {
      margin-bottom: -10px;

      @media #{$min_992} {
        display: none;
      }

      @media #{$max_991} {
        @include flexbox(flex, "", center, center, "", wrap);
      }

      li {
        margin: 0 10px 10px;

        a {
          display: block;

          &:hover {
            text-decoration: underline;
          }
        }

        &:not(:last-of-type) {
          a {
            position: relative;

            &:after {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              @include appDir(right, -9px, left, -9px);
              bottom: 0;
              width: 1px;

              @include theme() {
                background-color: themed("t_color_two");
              }
            }
          }
        }
      }
    }

    &.open {
      @include appDir(left, 0, right, 0);

      > * {
        visibility: visible;
      }

      & + .overlay {
        display: block;
      }
    }
  }

  .overlay {
    position: fixed;
    z-index: 2500;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#000, 0.6);
    animation: fadeIn 0.4s ease-in-out;
    display: none;
  }

  @media #{$min_992} {
    &.header-big {
      .top-bar {
        padding: {
          left: 30px;
          right: 30px;
        }
      }

      nav {
        height: $nav_height;
        padding: {
          left: 30px;
          right: 30px;
        }

        @include theme() {
          background-color: themed("bg_color_one");
          box-shadow: themed("card_shadow");
        }

        > div {
          height: $nav_height;

          &:last-of-type {
            @include appDir(right, 30px, left, 30px);
          }
        }

        .logo {
          height: 130px;
          width: 120px;

          a {
            height: 92px;
            width: 92px;

            .logo-img {
              height: 92px;
              width: 92px;
              transform: rotate(-45deg);

              &:before {
                height: 65px;
                width: 65px;

                @include theme() {
                  border-color: themed("main_color_two");
                }
              }

              &:after {
                height: 86px;
                width: 86px;

                @include theme() {
                  border-color: themed("main_color_two");
                }
              }
            }
          }

          .shape {
            position: absolute;
            top: 30px;
            @include appDir(left, 3px, right, 3px);
            height: 11px;
            overflow: hidden;

            &:after {
              content: "";
              display: block;
              height: 22px;
              width: 22px;
              border: 2px solid;
              @include ltr_rotate_and_translate(45, -11px, -11px);

              @include theme() {
                border-color: rgba(themed("t_color_two"), 0.7);
              }
            }
          }
        }

        &.animate-search-form {
          > div {
            &:last-of-type {
              width: calc(100% - 185px);
            }
          }
        }
      }
    }
  }

  &.header-small {
    @include header_small_mixin();

    nav {
      &.animate-search-form {
        > div {
          &:last-of-type {
            width: calc(100% - 55px);
          }
        }
      }
    }
  }

  @media #{$max_991} {
    @include header_small_mixin();
  }
}

.light_theme .header-small .theme-switcher {
  img {
    filter: brightness(0);
  }
}

html[dir="ltr"] header {
  nav .nav-links {
    > li {
      @media #{$min_1400} {
        &:nth-of-type(1n + 8) {
          display: none;
        }
      }

      @media #{$min_1200} and #{$max_1399} {
        &:nth-of-type(1n + 7) {
          display: none;
        }
      }

      @media #{$min_992_max_1199} {
        &:nth-of-type(1n + 5) {
          display: none;
        }
      }
    }
  }

  .side-menu .menu-body {
    > li {
      @media #{$min_1400} {
        &:nth-of-type(-1n + 7) {
          display: none;
        }
      }

      @media #{$min_1200} and #{$max_1399} {
        &:nth-of-type(-1n + 6) {
          display: none;
        }
      }

      @media #{$min_992_max_1199} {
        &:nth-of-type(-1n + 4) {
          display: none;
        }
      }
    }
  }
}

html[dir="rtl"] header {
  nav .nav-links {
    > li {
      @media #{$min_1400} {
        &:nth-of-type(1n + 9) {
          display: none;
        }
      }

      @media #{$min_1200} and #{$max_1399} {
        &:nth-of-type(1n + 8) {
          display: none;
        }
      }

      @media #{$min_992_max_1199} {
        &:nth-of-type(1n + 6) {
          display: none;
        }
      }
    }
  }

  .side-menu .menu-body {
    > li {
      @media #{$min_1400} {
        &:nth-of-type(-1n + 8) {
          display: none;
        }
      }

      @media #{$min_1200} and #{$max_1399} {
        &:nth-of-type(-1n + 7) {
          display: none;
        }
      }

      @media #{$min_992_max_1199} {
        &:nth-of-type(-1n + 5) {
          display: none;
        }
      }
    }
  }
}
