/*********************************************************************************************
** Table of Contents:                                                                       **
**********************************************************************************************

Project:    Azad - Trucking and Express Logistics Services
Version:    1.0
Created:    04/02/2021

1.  Variables                       ==> Located in 'styles/helpers/variables'
    ------------------------------
    1.  Color Codes
    2.  Media Sizes
    3.  Global Variables
    ------------------------------

2.  Mixins                          ==> Located in 'styles/helpers/mixins'
    ------------------------------
    1.  Flex Box
    2.  Transition
    3.  Translate
    4.  Skew
    5.  Rotate
    6.  Scale
    7.  rotate & translateX
    8.  Rotate & Scale
    9.  Directions
    10. Focus Style
    ------------------------------

3.  Animations                      ==> Located in 'styles/helpers/animations'
    ------------------------------
    1.  Zoom Effects
    2.  Fade Effects
    3.  Spinner Effects
    4.  Scale Effects
    5.  Slide Effects
    6.  Pulse Effects
    7.  Rotate Effects
    8.  LightSpeed Effects
    9.  Flash Effect
    10. Shine Effects
    ------------------------------

4.  Hover                           ==> Located in 'styles/helpers/hover'    
    ------------------------------
    1.  Pan Effect
    2.  Gray Scale Effect
    3.  Sepia Effect
    4.  Flashing Effect
    5.  Shine Effect
    6.  White Opacity Effect
    7.  Primary Opacity Effect
    8.  Secondary Opacity Effect
    ------------------------------
    
5.  Reset & Global elements         ==> Located in 'styles/global-and-reset'
    ------------------------------

6.  UI Elements Styles              ==> Located in 'styles/ui-elements/ui-elements'
    ------------------------------
    1.  Forms
    2.  Input Number
    3.  Input Radio & Checkbox
    4.  Input Select
    5.  Input File
    6.  Pagination
    7.  Tables
    8.  Step Progress
    9.  Progress Bar
    10. Blockquote
    11. Dropcaps
    12. Lists
    ------------------------------

7.  Components Styles               ==> Located in 'styles/components/components'
    ------------------------------
    1.  Skip Links
    2.  Preloader
    3.  Header
    4.  Title And Breadcrumbs
    5.  Top Page Card
    6.  Section Title
    7.  News Item
    8.  Sidebar
    9.  Ultimate Footer
    10. Scroll to Top Button
    11. Ajax Loading
    12. Toast Notifications
    ------------------------------

8.  Pages Styles                    ==> Located in 'styles/pages/pages'
    ------------------------------
    1.  Homepage
    2.  About Us
    3.  Contact Us
    4.  Get a Quote
    5.  Blog Pages
    6.  Shipment Tracking
    7.  404
    8.  Sign In & Up
    9.  User Pages
    10. Elements
    ------------------------------

*********************************************************************************************/
